:root {
  --primary-color: #405690;
  --secondary-color: #58be9f;
  --secondary-light-color: #def2ec;
  --gray-dark-color: var(--gray-100, #3b3d4f);
  --gray-medium-color: var(--gray-60, #787b86);
  --gray-light-color: var(--gray-40, #bbbdc3);
  --gray-bright-color: var(--gray-20, #edeef2);
  --background-color: var(--gray-0, #f9f9f9);
  --box-shadow-color: rgba(71, 89, 136, 0.1);
}
